/****************************************
-----------------------------------------
Project Name: InchRoom
Developed By: AntFarm AI Sdn Bhd
Version: 0.0.0.001
-----------------------------------------
Base Color: #E4B853
Text Color: #333333
-----------------------------------------
****************************************/

/****************************************
Section Name: General
****************************************/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media (min-width: 1430px) {
  .container {
    max-width: 1400px;
  }
}
.bg {
  background-image: url("../images/bg-slide.jpg");
  background-size: cover;
  width: 100%;
  min-height: 600px;
  height: 100vh;
  position: absolute;
  z-index: -100;
}
/****************************************
Section Name: Header
****************************************/
header {
  padding: 1.5em;
  vertical-align: middle;
}
header .logo {
  margin-top: 16px;
  text-align: left;
}
header .logo img {
  min-width: 120px;
  max-width: 260px;
  width: 100%;
}
/****************************************
Section Name: Navigation
****************************************/
nav {
  padding: 1.2em 0;
}
nav ul {
  list-style: none;
  float: right;
}
nav ul li {
  display: inline;
  margin-left: 15px;
}
nav ul li a {
  display: inline-block;
  color: #ddd;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.3s ease-in all;
}
nav ul li a:hover {
  text-decoration: none;
  color: #fff;
}
nav ul li.static a {
  padding: 10px 25px;
  color: #333;
  background-color: #fff;
  border-radius: 25px;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5), 4px 2px 11px rgba(0, 0, 0, 0.5);
  -webkit-appearance: button;
  border: none;
}
nav ul li.static:hover a {
  background-color: #e4b853;
}
/****************************************
Section Name: Search
****************************************/
section.search .wrap {
  margin-top: 65vh;
  width: 100%;
}
section.search:after {
  clear: both;
  overflow: hidden;
  display: block;
}
.select2-container--default .select2-selection--single {
  border-radius: 21px;
  text-align: center;
}
section.search .form-control-sm,
section.search .btn {
  border-radius: 15px;
  text-align: center;
}
/****************************************
Section Name: Properties
****************************************/
section.properties {
  display: block;
  padding: 15em 5em;
}
section.properties:bofore {
  clear: both;
  overflow: hidden;
  display: block;
}
